
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@media (max-width:1200px){
    .container2{
        display: flex;
        flex-wrap: wrap ;
        flex-direction: column;
        margin-top: 10px;
    }
    header input{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
    header button{
        margin-top: 5px;
    }
}
header{
    height:50%;

}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3b5998;
    padding: 10px;
}
.container h1{
    color: white;
}
header .container.form-inscription{
    display: flex;
}
header .container label{
    font-weight: bold;
    color: white;
}
.container button{
    border-radius: 5px;
    padding: 2px;
    width: 50px;
    border-color: white;
}
.container2{
    display: flex;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    position: relative;
   max-width: 700%;

}
.container2 .para{
    font-size: 30px;
    width: 350px;
}
.container2 .form-connecte{
   width: 350px;   
}
.container2 .form-connecte h1{
    margin-bottom: 10px;
}
.Firstinp{
    margin-top: 20px;
    padding: 6px;
    width: 300px;
}
select{
    margin-top: 10px;
}
.container2 .form-connecte input:nth-of-type(1){
    margin-top: 10px;
    width: 100px;
    padding: 6px;
}
.container2 .form-connecte input:nth-of-type(2){
    width: 100px;
    padding: 6px;
}
.container2 .form-connecte button{
    background-color: #3b5998;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border-color: #3b5998;
    width: 200px; 
    cursor: pointer;
}
#p2{
    border-top: 1px solid gray;
    margin-top: 2px;
    padding: 5px;
}
 a{
    color: #3b5998;
    text-decoration: none;
}




